* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {
   --gen-color: #67b0d1;
   --hover-color: #8ec4dd;
}

body {
   font-family: 'Open Sans', sans-serif;
   color: #444;
   background-color: #ccc;
}

a {
   text-decoration: none;
   color: var(--gen-color);
}

a:hover {
   text-decoration: none;
   color: var(--hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #ddd;
}

::-webkit-scrollbar-thumb {
   background: var(--gen-color);
   border-radius: 10px;
}

/* General Style */
::selection {
   background: var(--gen-color);
}

.container {
   max-width: 1150px;
   margin: 0 auto;
   overflow: hidden;
}


/* Header */
header {
   position: fixed;
   width: 100%;
   padding: 14px 0;
   background: transparent;
   transition: all .5s;
}

header .container {
   padding-top: 18px;
   display: flex;
   justify-content: space-between;
}

header .logo a {
   color: #fff;
   font-size: 24px;
   line-height: 1;
   letter-spacing: 1;
   text-transform: uppercase;
}

.nav_links {
   margin-top: -5px;
}

.nav_links ul {
   display: flex;
   list-style: none;
   align-items: center;
}

.nav_links ul li {
   padding: 15px 6px;
}

.nav_links ul li a {
   font-size: 17px;
   font-weight: 700;
   color: #fff;
   padding: 10px 16px;
   transition: .3s;
}

.nav_links ul li a i {
   font-size: 13px;
}

.nav_links ul li a:hover {
   background: rgba(255, 255, 255, .2);
   color: #2f4d5a;
}

header.sticky {
   background: rgba(55, 142, 181, 0.6);
   box-shadow: 0px 0px 1px rgb(0 0 0 / 10);
   padding: 0px;
}

.drop_down {
   display: none;
   animation: ani .3s;
}

@keyframes ani {
   from {
      top: 110px;
   }

   to {
      top: 60px;
   }
}

.nav_links ul li:hover .drop_down {
   position: absolute;
   display: block;
   color: #000;
   background: #fff;
   margin-left: -15px;
   margin-top: 12px;
   z-index: 1000;
   transition: all .3s ease-in-out;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.drop_down ul {
   display: block;
   padding-top: 15px;
   padding-bottom: 15px;
}

.drop_down ul li {
   width: 190px;
   padding: 10px;
   transition: all .4s ease-in-out;
}

.drop_down ul li a {
   font-size: 15px;
   font-weight: bold;
   color: #000;
   font-weight: 600;
}

.drop_down ul li a:hover {
   color: var(--gen-color);
}

.bi-chevron-right {
   float: right;
}

.deep_drop_down {
   display: none;
   animation: ani2 0.3s;
}

@keyframes ani2 {
   from {
      left: 60px;
   }

   to {
      left: 10px;
   }
}

.deep_right:hover .deep_drop_down {
   position: absolute;
   display: block;
   margin-top: -20px;
   margin-left: -198px;
   background: #fff;
   z-index: 1000;
   box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
   transition: all 1s ease-in-out;
}