* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

:root {
   --gen-color: #67b0d1;
   --hover-color: #8ec4dd;
}

body {
   font-family: 'Open Sans', sans-serif;
   color: #444;
}

a {
   text-decoration: none;
   color: var(--gen-color);
}

a:hover {
   text-decoration: none;
   color: var(--hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Raleway', sans-serif;
}

/* Scroll bar */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: #ddd;
}

::-webkit-scrollbar-thumb {
   background: var(--gen-color);
   border-radius: 10px;
}

/* General Style */
::selection {
   background: var(--gen-color);
   color: #000;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   overflow: hidden;
}

/* Section title */
.section_title {
   text-align: center;
   padding: 90px 0 30px 0;
}

section {
   overflow: hidden; 
}

.section_title h1 {
   position: relative;
   font-size: 32px;
   color: #2f4d5a;
   font-weight: bold;
   margin-bottom: 30px;
   z-index: 2;
}

.section_title h1::after{
   content: '';
   position: absolute;
   width: 120px;
   height: 65px;
   background: url('../assets/img/section-title-bg.png') no-repeat;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: -1;
}

.section_title p {
   line-height: 25px;
}

/* Header */
header {
   position: fixed;
   width: 100%;
   padding: 16px 0;
   background: transparent;
   transition: all .5s;
   z-index: 1000;
}

header .container {
   display: flex;
   justify-content: space-between;
}

header .logo a {
   color: #fff;
   font-size: 24px;
   font-family: "Poppins", sans-serif;
   line-height: 1;
   letter-spacing: 1;
   text-transform: uppercase;
}

.nav_links {
   margin-top: -5px;
}

.nav_links ul {
   display: flex;
   list-style: none;
   align-items: center;
}

.nav_links ul li {
   padding: 15px 6px;
}

.nav_links ul li a {
   font-size: 17px;
   font-weight: 700;
   color: #fff;
   padding: 10px 16px;
   transition: all .3s ease-in-out;
}

.nav_links ul li a i {
   font-size: 13px;
}

.nav_links ul li a:hover,
.active {
   background: rgba(255, 255, 255, .2);
   color: #162466;
}

.nav_links ul li a:focus {
   font-family: "Raleway", sans-serif;
}

header.sticky {
   background: rgba(55, 142, 181, 0.9);
   padding: 8px 0 11px 0;
}

.drop_down {
   display: none;
   animation: ani .3s;
}

@keyframes ani {
   from {
      top: 110px;
   }

   to {
      top: 45px;
   }
}

.drop_down_scroll {
   animation: ani_scroll .3s;
}

@keyframes ani_scroll {
   from {
      top: 120px;
   }

   to {
      top: 40px;
   }
}

.nav_links ul li:hover .drop_down {
   position: absolute;
   display: block;
   color: #000;
   background: #fff;
   margin-left: -15px;
   margin-top: 10px;
   z-index: 1000;
   box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
   transition: all .3s ease-in-out;
}

.drop_down ul {
   display: block;
   padding-top: 15px;
   padding-bottom: 15px;
}

.drop_down ul li {
   width: 195px;
   padding: 10px;
   transition: all .4s ease-in-out;
}

.drop_down ul li a {
   font-size: 15px;
   color: #303030;
   font-weight: 600;
   transition: all .3s ease-in-out;
}

.drop_down ul li a:hover {
   color: var(--gen-color);
}

.bi-chevron-right {
   float: right;
}

.deep_drop_down {
   display: none;
   animation: ani2 0.3s;
}

@keyframes ani2 {
   from {
      left: 60px;
   }

   to {
      left: 10px;
   }
}

.deep_right:hover .deep_drop_down {
   position: absolute;
   display: block;
   margin-top: -30px;
   margin-left: -198px;
   background: #fff;
   z-index: 1000;
   box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
   transition: all 1s ease-in-out;
}

/* Mobile Resposive */
.mobile_res {
   display: none;
   margin-top: 5.5px;
   cursor: pointer;
}

.side_menu {
   display: none;
   position: fixed;
   overflow: hidden;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background:rgba(74, 137, 172, 0.9);
   transition: .3s;
   z-index: 999;
}

.side_menu .side_menu_links {
   display: block;
   position: absolute;
   top: 55px;
   right: 15px;
   left: 15px;
   bottom: 15px;
   background: #fff;
   padding: 45px 0;
   overflow-y: auto;
   transition: all .5s ease-in-out;
}

.side_menu .side_menu_links #close_slide_menu {
   font-size: 45px;
   cursor: pointer;
   position: absolute;
   top: 0;
   right: 5px;
}

.side_menu .side_menu_links a {
   display: block;
   padding: 15px 30px;
   color: #151515;
   font-weight: bold;
   transition: .3s;
}
.side_menu .side_menu_links a:hover, .active {
   color: var(--gen-color);
}

/* showcase */
.showcase {
   position: relative;
   background: linear-gradient(rgba(55, 142, 181, .5), rgba(55, 142, 181, .2)), url('../assets/img/showcase.jpg') top center;
   width: 100%;
   height: 100vh;
   background-size: cover;
}

.showcase_info {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   text-align: center;
   width: 100%;
}

.showcase_info h1 {
   color: #fff;
   font-size: 64px;
   font-weight: 700;
   margin: 0 0 10px 0;
   line-height: 56px;
   text-transform: uppercase;
   text-shadow: -1px 0 2px #2f4d5a;
}

.showcase_info h2 {
   color: #fff;
   font-size: 20px;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 50px;
   text-shadow: -1px 0 2px #2f4d5a;
}

.showcase_info a {
   border: 2px solid #fff;
   border-radius: 50px;
   display: inline-block;
   width: 64px;
   height: 64px;
   font-size: 36px;
   color: #fff;
   text-align: center;
   padding: 7px 0;
   margin: 10px;
   transition: .3s ease-in-out;
}

.showcase_info a:hover {
   padding-top: 11px;
   background: rgba(255, 255, 255, 0.15);
}

/* About */
.about {
   background: url('../assets/img/about-bg.jpg');
   padding: 80px 0 50px 0;
   background-size: cover;
   position: relative;
}

.about::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(255, 255, 255, .75);
   z-index: 9;
}

.about .container {
   z-index: 10;
   position: relative;
   display: grid;
   grid-template-columns: 1.3fr 2fr;
   grid-gap: 3rem;
}

.about_box>h1 {
   font-size: 34px;
   color: #2f4d5a;
   font-weight: 700;
   margin-bottom: 30px;
}

.about_box>p {
   margin-bottom: 30px;
   line-height: 25px;
}

.about_box>a {
   background: var(--gen-color);
   display: inline-block;
   padding: 8px 44px 8px 30px;
   color: #fff;
   border-radius: 50px;
   transition: .3s;
   position: relative;
}

.about_box>a i {
   font-size: 18px;
   position: absolute;
   right: 16px;
}

.about_box>a:hover {
   background: #7bbad7;
}

.about_box:last-child {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 2rem;
}

.inside_ab {
   margin-bottom: 40px;
}

.inside_ab i {
   font-size: 40px;
   color: var(--gen-color);
   margin-bottom: 10px;
}

.inside_ab h4 {
   font-size: 20px;
   margin-bottom: 10px;
   font-weight: 700;
}

.inside_ab p {
   color: #848484;
   font-size: 15px;
}

/* Services */
.services_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   grid-gap: 1.5rem;
   margin: 10px;
}

.services_boxes .ser_box {
   position: relative;
   overflow: hidden;
   background: #fff;
   color: #000;
   border-radius: 8px;
   box-shadow: 0 0 29px rgba(68, 88, 144, 0.12);
   padding: 30px;
   z-index: 1;
   transition: all .3s ease-in-out;
}

.services_boxes .ser_box i{
   font-size: 48px;
   color: var(--gen-color);
   transition: all .3s ease-in-out;
   margin-bottom: 15px;
}

.services_boxes .ser_box h3 {
   font-weight: bold;
   font-size: 18px;
   margin-bottom: 15px;
}

.services_boxes .ser_box a {
   color: #111;
}

.services_boxes .ser_box p {
   font-size: 15px;
   line-height: 30px;
   color: #504f4f;
}

.services_boxes .ser_layer {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 100%;
   right: 0;
   bottom: 0;
   left: 0;
   background: var(--gen-color);
   z-index: -1;
   border-radius: 8px;
   transition: all .3s;
   opacity: 0;
}

.ser_box:hover .ser_layer {
   opacity: 1;
   top: 0;
}

.services_boxes .ser_box:hover i,
.services_boxes .ser_box:hover a,
.services_boxes .ser_box:hover p {
   color: #fff;
}

/* Portfolio section */
.portfolio {
   position: relative;
}

.portfolio_btn {
   margin: 20px 0;
   padding: 20px 25px;
   text-align: center;
   background: #ecf5f9;
   width: 290px;
   height: 25px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.portfolio_btn span {
   text-transform: uppercase;
   background-color: transparent;
   font-size: 14px;
   padding: 0 17px;
   cursor: pointer;
   color: #2f4d5a;
   font-weight: 600;
   transition: all .3s ease-in-out;
}

.portfolio_btn .port_active,
.portfolio_btn span:hover {
   color: #67b0d1;
}

.portfolio_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   grid-gap: 1rem;
}

.portfolio_boxes .por_box {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.portfolio_boxes .por_box .por_img {
   width: 100%;
   height: 100%;
}

.portfolio_boxes .por_box::before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(255, 255, 255, 0.5);
   opacity: 0;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_box:hover::before {
   opacity: 1;
}

.portfolio_boxes .por_box img {
   width: 100%;
   height: 100%;
   transition: all .3s ease-in-out;
}

.portfolio_boxes .por_layer {
   position: absolute;
   right: 0;
   bottom: -60px;
   left: 0;
   background: var(--gen-color);
   z-index: 3;
   transition: all .3s ease-in-out;
   opacity: 0;
   display: flex;
   justify-content: center;
}

.portfolio_boxes .por_box:hover .por_layer {
   opacity: 1;
   bottom: 0;
}

.portfolio_boxes .por_layer span {
   color: #fff;
   font-size: 28px;
   width: 50%;
   text-align: center;
   background: rgba(103, 176, 209, 0.75);
   transition: all .3s;
   cursor: pointer;
}

.portfolio_boxes .por_layer span:hover {
   background: rgba(71, 153, 190, 0.95);
}

.portfolio_boxes .por_layer span + span {
   border-left: 1px solid var(--hover-color)
}

/* Portfolio model images */
.portfolio .por_model {
   position: fixed;
   overflow: hidden;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.9);
   width: 100%;
   height: 100%;
   z-index: 1001;
   padding-top: 10px;
   display: none;
   text-align: center;
}

.portfolio .por_model #close_por_model {
   position: absolute;
   font-size: 30px;
   color: #ffffffb3;
   top: 27px;
   right: 35px;
   cursor: pointer;
   transition: color .3s ease-in;
}

.portfolio .por_model #close_por_model:hover {
   color: #f1f1f1;
}

.portfolio .por_model #img01 {
   padding-top: 50px;
   animation: zoom .6s;
   width: 100%;
   height: 90%;
   object-fit: contain;
}

@keyframes zoom {
   from {
      transform: scale(.1);
   }
   to {
      transform: scale(1);
   }
}

/* Team */
.team {
   margin-bottom: 30px;
}
.team_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   grid-gap: 1.3rem;
}

.team_boxes .team_box {
   position: relative;
   margin-bottom: 70px;
   text-align: center;
}

.team_boxes .team_box img {
   width: 100%;
   object-fit: cover;
   overflow: hidden;
}

.team_box .team_layer {
   position: absolute;
   overflow: hidden;
   top: 85%;
   right: 20px;
   left: 20px;
   max-height: 90px;
   color: #2f4d5a;
   background: #fff;
   padding: 15px 0;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, .1);
   transition: max-height .4s ease-in-out;
}

.team_boxes .team_box:hover .team_layer {
   max-height: 300px;
}

.team_box .team_layer h4 {
   position: relative;
   margin-bottom: 20px;
   color: #2f4d5a;
   font-size: 16px;
   font-weight: 600;
   padding-bottom: 10px;
}

.team_box .team_layer h4::after {
   content: '';
   position: absolute;
   width: 50px;
   height: 1px;
   background: #b1cbd7;
   display: block;
   bottom: 0;
   /* left: 50%;
   right: 50%;
   transform: translate(-50%, -50%); */
   left: calc(50% - 25px);
}

.team_box .team_layer p {
   font-size: 13px;
   font-style: italic;
}

.team_box .team_layer .team_social {
   margin-top: 15px;
}

.team_box .team_layer .team_social a {
   color: #52869d;
   transition: color .3s;
}

.team_box .team_layer .team_social a:hover {
   color: var(--gen-color);
}

.team_box .team_layer .team_social i {
   margin: 0 2px;
   font-size: 16px;
}

/* Contact */
.contact {
   background: #f4f9fc;
   padding-bottom: 60px;
}

.contact .con_boxes {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   grid-gap: 1.5rem;
}

.con_boxes .con_box {
   background: #fff;
   color: #444;
   padding: 20px 0 30px 0;
   text-align: center;
   line-height: 30px;
   box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.contact .full_width {
   grid-column: 1/3;
}

.con_boxes .con_box i {
   font-size: 32px;
   color: var(--gen-color);
   border: 2px dotted #f0f7fa;
   border-radius: 50%;
   padding: 8px;
}

.con_boxes .con_box h4 {
   color: #777;
   margin: 10px 0;
   font-size: 20px;
   font-weight: 700;
}

.con_boxes .con_box p {
   font-size: 14px;
   line-height: 24px;
   margin-bottom: 0;
}

.contact .form_box {
   position: relative;
   padding-top: 30px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1.5rem;
   padding-bottom: 30px;
}

.form_box iframe {
   width: 100%;
   height: 100%;
}

.form_box form {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
   background: #fff;
   padding: 30px;
   box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
   text-align: center;
}

.form_box form input, textarea {
   width: 100%;
   font-size: 14px;
   outline: none;
   color: #777;
   border: 1px solid #dad5d5;
}

.form_box form input {
   padding: 10px 15px;
}

.form_box form input:focus, textarea:focus {
   border-color: var(--gen-color);
}

.form_box form textarea {
   padding: 12px 15px;
   padding-bottom: 30px;
   resize: vertical;
}

.form_box form button {
   padding: 10px 24px;
   font-size: 16px;
   border: none;
   background: var(--gen-color);
   color: #fff;
   cursor: pointer;
   transition: all .3s ease-in;
}

.form_box form button:hover {
   background: #8ec4dd;
}

/* footer */
.footer {
   background-color: #263f49;
   padding: 30px 0;
   color: #fff;
   font-size: 14px;
}

.footer .container {
   text-align: center;
   letter-spacing: 0.1px;
   color: #fff;
}

.footer .container h5 {
   padding-bottom: 15px;
   font-size: 13px;
}

.footer .container h6 {
   font-size: 12px;
}


/* back to top */
.backToTop {
   position: fixed;
   overflow: hidden;
   bottom: 17px;
   right: 17px;
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   background: var(--gen-color);
   border-radius: 50px;
   z-index: 1000;
   transition: all .3s;
   opacity: 0;
   cursor: default;
}

.backToTop i {
   color: #fff;
   font-size: 24px;  
   font-weight: bold; 
}

.backToTop:hover{
   background: #86c0da;
}


/* Media Query */
@media (max-width: 1330px) {
   .container {
      max-width: 1080px;
   }

   .about .container {
      grid-template-columns: 1fr;
   }

   .portfolio .por_model #img01 {
      padding: 30px;
      padding-top: 10%;
      width: 90%;
      height: 100%;
   }
}

@media (max-width: 1200px) {
   .container {
      max-width: 1000px;
   }
}

@media (max-width: 990px) {
   .container {
      max-width: 780px;
   }

   .nav_links {
      display: none;
   }

   .mobile_res {
      display: block;
   }

   .services_boxes {
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   }

   .portfolio .por_model #img01 {
      width: 100%;
      height: 90%;
   }

   .contact .con_boxes .con_box {
      grid-column: 3/3;
   }

   .contact .form_box {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 770px) {
   .container {
      max-width: 580px;
   }

   .showcase_info h1 {
      font-size: 30px;
   }

   .about .about_box {
      grid-template-columns: 1fr;
      text-align: center;
   }

   .services_boxes {
      grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   }

   .contact .con_boxes .con_box, 
   .form_box form input {
      grid-column: 1/3;
   }
}

@media (max-width: 576px) {
   .container {
      max-width: 430px;
   }

   .form_box form button {
      grid-column: 1/3;
   }
}

@media (max-width: 420px) {
   .container {
      max-width: 355px;
   }
}

@media (max-width: 360px) {
   .container {
      max-width: 300px;
   }

   .services_boxes {
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
   }

   .team_boxes {
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   }
}
